.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: #212121;
  text-decoration: none;
  margin: 0px;
}

.logo--navigation {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo--navigation {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo--part-one {
  color: $text-accent;
}
.logo--part-two {
  color: $text-white;
}
.footer {
  .logo-footer {
    display: block;
    margin-bottom: 20px;
  }
}
