.activity {
  padding-top: 0;
  display: none;
  padding-bottom: 94px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
}

.activity__title {
  margin-bottom: 50px;
  margin-top: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $text-header;
}
.activity-list__card {
  position: relative;
  // display: -webkit-inline-box;
  // display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  width: calc((100% - 30px * 2) / 3);
}

.activity-list__card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.activity-list__label {
  position: absolute;
  bottom: 0;
  margin: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 27px 0px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-white;
  background-color: $activity;
}
