.navigation-list__link,
.contacts__link {
  text-decoration: none;
  margin: 0px;
}
.navigation-list__link.current,
.navigation-list .navigation-list__link:hover,
.navigation-list .navigation-list__link:focus .contacts .contacts__link:hover,
.contacts .contacts__link:focus {
  color: $text-accent;
  --color3: $text-accent;
}

@media screen and (min-width: 768px) {
  .navigation-list__link.current::after {
    left: 0;
    top: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list__link.current::after {
    left: 0;
    top: 31px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list__link.current::after {
    left: 0;
    top: 8px;
  }
}
